<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.fedoraproject.developer.assistant.feature.eclipse.ui.wizards.DeveloperAssistantWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="resources/reddeer_icon.png"
            id="org.jboss.reddeer.eclipse.ui.wizards.DeveloperAssistantWizard"
            name="Developer Assistant Wizard"
            project="true">
      </wizard>
   </extension>


</plugin>
